/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }

  /******************************************
/* LAYOUT
/*******************************************/
#board {
  margin:0 auto;
  width:900px;
  text-align: center;
  padding:0;

}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.square {
  width:200px;
  height:200px;
}

.row1, .row2, .row3 {
  display:flex;
  justify-content: center;
}

.row1 .column1, .row2 .column1 {
  border-right: 5px solid black;
  border-bottom:5px solid black;
}

.row1 .column3, .row2 .column3 {
  border-left:5px solid black;
  border-bottom:5px solid black;
}

.row2 .column2, .row1 .column2{
  border-bottom:5px solid black;
}

.row3 .column1 {
  border-right:5px solid black;
}

.row3 .column3 {
  border-left: 5px solid black;;
}

.noClick {
  pointer-events:none;
}

h4 {
  text-align:center;
  font-size: 30px;
}

div {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner {
  color:red;
}

button  {
  display: none;
  color: orangered;
  }

.display {
  display:block;
  margin:0 auto;
}

@media  screen and (max-width:800px) {
  #board {
    width:400px;
  }

  h1{
    margin-bottom:20px;
  }
}

@media screen and (max-width:420px) {

  #board {
    margin-top:30%;
  }

  .square {
    width:150px;
    height:150px;
  }
}

@media screen and (max-height:600px){
  .square {
    width:150px;
    height:150px;
  }
}


@media screen and (max-height:420px){
  .square {
    width:100px;
    height:100px;
  }
}

@media screen and (max-height:300px){
  .square {
    width:60px;
    height:60px;
  }
}